<div class="container">
    <mat-card class="form-card">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <mat-card-content>
                <div *ngFor="let field of fields" class="form-field">

                    <mat-form-field *ngIf="field.type === 'text'" appearance="outline" class="full-width">
                        <mat-label>{{ field.label }}</mat-label>
                        <input matInput [formControlName]="field.label" [placeholder]="field.placeholder ?? ''">
                        <mat-error *ngIf="form.get(field.label)?.hasError('required')">
                            This field is required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field *ngIf="field.type === 'textarea'" appearance="outline" class="full-width">
                        <mat-label>{{ field.label }}</mat-label>
                        <textarea matInput [formControlName]="field.label"
                            [placeholder]="field.placeholder ?? ''"></textarea>
                        <mat-error *ngIf="form.get(field.label)?.hasError('required')">
                            This field is required
                        </mat-error>
                    </mat-form-field>


                    <mat-form-field *ngIf="field.type === 'dropdown'" appearance="outline" class="full-width">
                        <mat-label>{{ field.label }}</mat-label>
                        <mat-select [formControlName]="field.label">
                            <mat-option *ngFor="let option of field.options" [value]="option">
                                {{ option }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>


                    <mat-checkbox *ngIf="field.type === 'checkbox'" [formControlName]="field.label" class="full-width">
                        {{ field.label }}
                    </mat-checkbox>


                    <mat-radio-group *ngIf="field.type === 'radio'" [formControlName]="field.label" class="full-width">
                        <mat-radio-button *ngFor="let option of field.options" [value]="option">
                            {{ option }}
                        </mat-radio-button>
                    </mat-radio-group>


                    <button mat-icon-button (click)="removeField(field.id)" color="warn">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </mat-card-content>


            <mat-card-actions>
                <button mat-raised-button color="primary" type="submit">Submit</button>
            </mat-card-actions>
        </form>
    </mat-card>
</div>